# ignore the following file extensions
*.env
*.exe
*.db
*.sqlite

# ignore the following directories
node_modules/
dist/
build/
coverage/
tmp/
.vs/
.vscode/

# ignore the following files
package-lock.json
yarn.lock
yarn-error.log
npm-debug.log
settings.json


