/* create a sample style sheet */
body {
    background-color: #fff;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 36px;
    margin: 10px 0;
    padding: 0;
}
h2 {
    font-size: 30px;
    margin: 10px 0;
    padding: 0;
}
h3 {
    font-size: 24px;
    margin: 10px 0;
    padding: 0;
}
h4 {
    font-size: 18px;
    margin: 10px 0;
    padding: 0;
}
h5 {
    font-size: 14px;
    margin: 10px 0;
    padding: 0;
}
h6 {
    font-size: 12px;
    margin: 10px 0;
    padding: 0;
}
p {
    margin: 0 0 10px;
}
